# Verification Plan

🏠[Home](../README.md)

**Objectives**

The primary goals of the verification plan are:

1. Verify the functional correctness of the router.
2. Ensure robustness by testing edge cases and error scenarios.
3. Achieve 100% functional and code coverage.

## Testbench Architecture

![tb_arc](../tb_arc_router.drawio.png)

## Detailed Breakdown of Each Component

- [Interface](interface.md)
- [Top Module](topmodule.md)
- [Test]()
- [Environment]()
- [Scoreboard]()
- [Virtual sequence and Sequencer]()
- [Configuration]()
- #### Source 
  - [Agent top]()
  - [Agent]()
  - [Sequencer]()
  - [Driver]()
  - [Monitor]()
  - [Sequence]()
  - [configuration]()
- #### Destination 
  - [Agent top]()
  - [Agent]()
  - [Sequencer]()
  - [Driver]()
  - [Monitor]()
  - [Sequence]()
  - [configuration]()


🏠[Home](../README.md)